# Ignorar los archivos descargados
ModelosAI/ArchivosUtiles/*
ModelosAI/ModelosFinales/*
.env
__pycache__
.vscode
.DS_Store
Piloto2023/ArchivosUtiles/datasetTensores.pkl
Piloto2023/ArchivosUtiles/datasetFechaHora.pkl
env